@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

.active {
    color: green;
}

/* dropdown */
.dropdownClose {
    max-height: 208px;
}